# Define vagrant_home
VAGRANT_HOME=${HOME}/sgoinfre/VmCache
VBOX_VM_PATH=${HOME}/goinfre/VirtualBox_VMs
VBOX_USER_HOME=${HOME}/goinfre/VirtualBox_VMs

# Remove logs. Podman is instead of docker and 42 most likely use it
PODMAN_COMPOSE_WARNING_LOGS=false
