# define vagrant_home
VAGRANT_HOME=~/path

# remove logs. podman is instead of docker and 42 most likely use it
PODMAN_COMPOSE_WARNING_LOGS=false

# volume path (it's made in vagrant vm)
VOLUME_PATH=~/path
MARIADB_VOLUME_PATH=${VOLUME_PATH}/mariadb
WORDPRESS_VOLUME_PATH=${VOLUME_PATH}/wordpress
PHPMYADMIN_VOLUME_PATH=${VOLUME_PATH}/phpmyadmin

# MariaDB init set
DB_NAME=example
DB_USER=example
DB_PASSWORD=example
DB_ROOT_PASSWORD=example

# WordPress init set
WP_URL=https://0.0.0.0
WP_TITLE=example
WP_ADMIN_USER=example
WP_ADMIN_PASSWORD=example
WP_ADMIN_EMAIL=example@example.com
