# Define vagrant_home
VAGRANT_HOME=~/sgoinfre/VmCache
VBOX_VM_PATH=~/goinfre/VirtualBox_VMs

# Remove logs. Podman is instead of docker and 42 most likely use it
PODMAN_COMPOSE_WARNING_LOGS=false

# Volume path (It's made in vagrant vm)
VOLUME=./volume/
VOLUME_MARIADB=${VOLUME}/mariadb/
VOLUME_WORDPRESS=${VOLUME}/wordpress/
VOLUME_PHPMYADMIN=${VOLUME}/phpmyadmin/

# Paths included in the volume
ROOT_MARIADB=/example/lib/mysql/
ROOT_WORDPRESS=/example/www/wordpress/
ROOT_PHPMYADMIN=/example/www/phpmyadmin/

# MariaDB init set
DB_NAME=wordpress_db
DB_USER=wp_user
DB_PASSWORD=password
DB_ROOT_PASSWORD=password

# WordPress init set
WP_URL=https://192.168.56.111
WP_TITLE=cloud-1
WP_ADMIN_USER=admin
WP_ADMIN_PASSWORD=password
WP_ADMIN_EMAIL=cloud-1@cloud.com
